<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta
            content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1,target-densitydpi=device-dpi "
            name="viewport"
    />
    <link href="./assets/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="index-2.9.css" rel="stylesheet"/>
    <link href="./lib/fullpage.css" rel="stylesheet" type="text/css"/>
    <script src="./lib/fullpage.js" type="text/javascript"></script>
    <script src="./lib/vue_3.2.36.js" type="text/javascript"></script>
    <script src="./lib/jquery_2.1.4.js" type="text/javascript"></script>
    <script src="./lib/lottie.js" type="text/javascript"></script>
    <script src="common-2.9.js" type="text/javascript"></script>
    <title>Repit!</title>
</head>
<body id="app">
<nav class="nav">
    <ul class="flex">
        <li
                :key="anchor"
                @click="onClickAnchor(anchor)"
                v-for="anchor in anchors"
        >
            <a :class="{bold: hash === anchor}" :href="'#' + anchor">{{anchor}}</a>
        </li>
    </ul>
    <div class="flex links">
        <a href="https://Twitter.com/repit_official" target="_blank">
            <img src="./assets/svg_icons/Twitter.svg">
        </a>
        <a href="https://discord.gg/repit" target="_blank">
            <img src="./assets/svg_icons/Discord.svg">
        </a>
        <a href="https://medium.com/@repit" target="_blank">
            <img src="./assets/svg_icons/Medium.svg">
        </a>
    </div>
    <img alt="repit!" draggable="false" src="./assets/Logo.svg"/>
</nav>

<div id="loading">
    <div class="lottie"></div>
</div>

<main id="fullpage">
    <section class="home relative section" data-anchor="home">
        <div class="vh100 overflow-hidden relative">
            <div class="head">
                <img alt="repit!" draggable="false" src="./assets/Logo.svg"/>
                <p class="gradient-text">
                    The World's First <br/>
                    Evolvable-NFT Workout Game
                </p>
                <img class="circles" draggable="false" src="./assets/bg_components/Circles.svg"/>
                <div class="contract">
                    <form action="https://app.us8.list-manage.com/subscribe/post?u=33ba9f8e144eae0912eb911c5&amp;id=ea49e55c57&amp;f_id=00df6ae0f0"
                          class="validate waitlist-form flex" method="post" name="mc-embedded-subscribe-form"
                          target="_blank">
                        <input class="required email" name="EMAIL" placeholder="Email" required type="email">
                        <input class="button submit" name="subscribe" type="submit"
                               value="JOIN WAITLIST">
                    </form>
                </div>
            </div>

            <div class="swapper" draggable="false">
                <div class="column">
                    <div class="animation-box">
                        <div :key="_" class="flex flex-dir-column" v-for="_ in 2">
                            <img src="./assets/swapper_images/Hero_001.png"/>
                            <img src="./assets/swapper_images/Vector.png"/>
                            <img src="./assets/swapper_images/Hero_006.png"/>
                            <img src="./assets/swapper_images/Hero_008.png"/>
                            <img src="./assets/swapper_images/Hero_002-1.png"/>
                            <img src="./assets/swapper_images/Hero_009.png"/>
                            <img src="./assets/swapper_images/Hero_007-1.png"/>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="animation-box">
                        <div :key="_" class="flex flex-dir-column" v-for="_ in 2">
                            <img src="./assets/swapper_images/Hero_005.png"/>
                            <img src="./assets/swapper_images/Card-1.png"/>
                            <img src="./assets/swapper_images/Hero_003.png"/>
                            <img src="./assets/swapper_images/Vector-2.png"/>
                            <img src="./assets/swapper_images/Vector-1.png"/>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="animation-box">
                        <div :key="_" class="flex flex-dir-column" v-for="_ in 2">
                            <img src="./assets/swapper_images/Vector-2.png"/>
                            <img src="./assets/swapper_images/Hero_007.png"/>
                            <img src="./assets/swapper_images/Card-2.png"/>
                            <img src="./assets/swapper_images/Card-1.png"/>
                            <img src="./assets/swapper_images/Hero_002.png"/>
                            <img src="./assets/swapper_images/Hero_002-1.png"/>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="animation-box">
                        <div :key="_" class="flex flex-dir-column" v-for="_ in 2">
                            <img src="./assets/swapper_images/Hero_004.png"/>
                            <img src="./assets/swapper_images/Card-3.png"/>
                            <img src="./assets/swapper_images/Hero_009.png"/>
                            <img src="./assets/swapper_images/Hero_003-1.png"/>
                            <img src="./assets/swapper_images/Hero_006.png"/>
                        </div>
                    </div>
                </div>
            </div>

            <img class="bg" src="./assets/bg_components/VI_Grandient_02.png"/>
        </div>
    </section>

    <section class="fitness section" data-anchor="fitness">
        <div class="vh100 relative overflow-hidden center flex flex-center">
            <div class="head flex-center flex-dir-column">
                <h2 class="gradient-text section-title">
                    Get Fit And Get Rewarded
                </h2>

                <p class="color-white sub-title">
                    The most fun, interactive and rewarding way to work out
                </p>
            </div>
            <video
                    autoplay
                    data-keepplaying
                    loop="loop"
                    muted
                    poster="./assets/video-poster.png"
                    src="./assets/HeroVideo_FinalRender.mp4"
            ></video>
        </div>
    </section>

    <section class="avatar relative section" data-anchor="avatar">
        <div class="normal-scroll">
            <h2
                    :style="`transform: translateY(${avatarSectionScrollTop}px)`"
                    class="gradient-text section-title"
            >
                Your Evolvable NFT Avatar
            </h2>

            <div
                    :style="`transform: translateY(${avatarSectionScrollTop}px)`"
                    class="transform-wrapper relative"
            >
                <div class="section-1 absolute enter">
                    <div class="imgs">
                        <img src="./assets/avatars/img_for_web_1.png"/>
                        <img src="./assets/avatars/img_for_web_4.png"/>
                        <img src="./assets/avatars/img_for_web_3.png"/>
                        <img src="./assets/avatars/img_for_web_2.png"/>
                        <img src="./assets/avatars/img_for_web_5.png"/>
                    </div>

                    <div class="tip">
                        <p>Own a unique avatar</p>
                        <p>
                            Every avatar is a one-of-a-kind, breedable and evolvable NFT
                        </p>
                    </div>
                </div>

                <div class="section-2 absolute leave">
                    <div class="imgs">
                        <img src="./assets/avatars/img_for_web_3.png"/>

                        <img class="bg grid" src="./assets/bg_components/Grid.svg"/>
                    </div>

                    <div class="tip">
                        <p>Bodybuild your avatar into ideal physique</p>
                        <p>
                            Every bit of your physical workout will contribute to shaping
                            your avatar
                        </p>
                    </div>
                </div>

                <div class="section-3 absolute leave">
                    <div class="imgs">
                        <div>
                            <img src="./assets/avatars/img_for_web_3_1.png"/>
                            <div class="name">SKINNY</div>
                        </div>
                        <div>
                            <img src="./assets/avatars/img_for_web_3_2.png"/>
                            <div class="name">CHUBBY</div>
                        </div>
                        <div>
                            <img src="./assets/avatars/img_for_web_3.png"/>
                            <div class="name">AVERAGE</div>
                        </div>

                        <div>
                            <img src="./assets/avatars/img_for_web_3_3.png"/>
                            <div class="name">RIPPED</div>
                        </div>

                        <div>
                            <img src="./assets/avatars/img_for_web_3_4.png"/>
                            <div class="name">BULKY</div>
                        </div>

                        <img class="bg grid" src="./assets/bg_components/Grid.svg"/>
                    </div>

                    <div class="tip">
                        <p>Bodybuild your avatar into ideal physique</p>
                        <p>
                            Every bit of your physical workout will contribute to shaping
                            your avatar
                        </p>
                    </div>
                </div>

                <div class="section-4 absolute leave">
                    <div class="imgs">
                        <img src="./assets/avatars/img_for_web_5.png"/>
                    </div>

                    <div class="tip">
                        <p>Dress up avatar in your own style</p>
                        <p>
                            Limited-edition digital fashion apparel and accessory NFTs
                        </p>
                    </div>
                </div>

                <div class="section-5 absolute leave">
                    <div class="imgs">
                        <img src="./assets/avatars/资源 1.png"/>
                        <img src="./assets/avatars/资源 2.png"/>
                        <img src="./assets/avatars/资源 3.png"/>
                        <img src="./assets/avatars/资源 4.png"/>
                        <img src="./assets/avatars/资源 5.png"/>
                    </div>

                    <div class="tip">
                        <p>Dress up avatar in your own style</p>
                        <p>
                            Limited-edition digital fashion apparel and accessory NFTs
                        </p>
                    </div>
                </div>

                <div class="section-6 absolute leave">
                    <div class="imgs">
                        <div>
                            <img src="./assets/heros_with_bg/item_001.png"/>
                            <img src="./assets/heros_with_bg/item_002.png"/>
                            <img src="./assets/heros_with_bg/item_003.png"/>
                            <img src="./assets/heros_with_bg/item_004.png"/>
                            <img src="./assets/heros_with_bg/item_005.png"/>
                            <img src="./assets/heros_with_bg/item_006.png"/>
                            <img src="./assets/heros_with_bg/item_007.png"/>
                        </div>
                        <div>
                            <img src="./assets/heros_with_bg/item_008.png"/>
                            <img src="./assets/heros_with_bg/item_009.png"/>
                            <img src="./assets/heros_with_bg/item_010.png"/>
                            <img src="./assets/heros_with_bg/item_011.png"/>
                            <img src="./assets/heros_with_bg/item_012.png"/>
                            <img src="./assets/heros_with_bg/item_013.png"/>
                            <img src="./assets/heros_with_bg/item_014.png"/>
                        </div>
                    </div>

                    <div class="center tip">
                        <p>Your avatar, your way</p>
                        <p>Breed an avatar with style and attitude</p>
                    </div>
                </div>
            </div>

            <div
                    :style="`transform: translateY(${avatarSectionScrollTop}px)`"
                    class="bgs"
            >
                <img
                        class="bg-1"
                        src="./assets/bg_components/Brand_Pattern_02.svg"
                />
                <img
                        class="bg-2"
                        src="./assets/bg_components/Brand_Pattern_01.svg"
                />
                <img
                        class="bg-3"
                        src="./assets/bg_components/VI_Grandient_01.png"
                />
                <img
                        class="bg-4"
                        src="./assets/bg_components/Brand_Pattern_01.svg"
                />
                <!-- <img src="./assets/bg_components/VI_Grandient_02.png" class="bg-5" />
            <img src="./assets/bg_components/VI_Grandient_03.png" class="bg-6" />
            <img src="./assets/bg_components/Brand_Pattern_04.svg" class="bg-7" />
            <img src="./assets/bg_components/Brand_Pattern_03.svg" class="bg-8" />
            <img src="./assets/bg_components/VI_Grandient_04.png" class="bg-9" /> -->
            </div>
        </div>
    </section>

    <section class="roadmap section" data-anchor="roadmap">
        <h2 class="gradient-text section-title">roadmap</h2>

        <div class="road">
            <div class="stage">
                <h2>Q2 2022</h2>
                <h3>Founding</h3>
                <ul>
                    <li>Founding team assembly</li>
                    <li>Brand establishment</li>
                    <li>Movement AI algorithm development</li>
                    <li>Angel Round fundraising</li>
                </ul>
            </div>
            <div class="stage">
                <h2>Q3 2022</h2>
                <h3>Alpha</h3>
                <ul>
                    <li>Website launch</li>
                    <li>Product demo ready</li>
                    <li>Community establishment</li>
                    <li>Seed Round fundraising</li>
                </ul>
            </div>
            <div class="stage">
                <h2>Q4 2022</h2>
                <h3>Closed Beta</h3>
                <ul>
                    <li>Whitelist tasks</li>
                    <li>Genesis avatar airdrops</li>
                    <li>First apparel collection airdrops</li>
                    <li>AI Workout gameplay opens to genesis avatar holders</li>
                </ul>
            </div>
            <div class="stage">
                <h2>Q1 2023</h2>
                <h3>Open Beta</h3>
                <ul>
                    <li>Avatar clone feature release</li>
                    <li>Token generation event</li>
                    <li>Hunger Game gameplay release</li>
                </ul>
            </div>
            <div class="stage">
                <h2>Q2 2023</h2>
                <h3>Official Launch</h3>
                <ul>
                    <li>Live Challenge gameplay release</li>
                </ul>
            </div>
        </div>

        <img class="bg-1" src="./assets/bg_components/Brand_Pattern_05.svg"/>
        <img class="bg-2" src="./assets/bg_components/Brand_Pattern_03.svg"/>
        <img class="bg-3" src="./assets/bg_components/VI_Grandient_04.png"/>
    </section>

    <section class="team section" data-anchor="team">
        <h2 class="gradient-text section-title">team</h2>
        <div class="flex flex-wrap members">
            <div class="card">
                <img alt="" src="./assets/team/Vector.png"/>
                <div class="name">Dr_Daoist</div>
                <div class="job">Serial Entrepreneur</div>
                <div>
                    <a class="button" href="https://www.linkedin.com/in/mikehanlin/" target="_blank">
                        <img
                                alt="Linkedin"
                                class="pointer"
                                src="./assets/svg_icons/Linkedin.svg"
                        />
                    </a>
                    <a class="button" href="https://twitter.com/dr_daoist" target="_blank">
                        <img
                                alt="Twitter"
                                class="pointer"
                                src="./assets/svg_icons/Twitter.svg"
                        />
                    </a>
                </div>
            </div>
            <div class="card">
                <img alt="" src="./assets/team/Vector-3.png"/>
                <div class="name">soTEARul</div>
                <div class="job">Game Economy Wizard</div>
                <div>
                    <a
                            class="button"
                            href="https://www.linkedin.com/in/cain-gao-26803320b/" target="_blank"
                    >
                        <img
                                alt="Linkedin"
                                class="pointer"
                                src="./assets/svg_icons/Linkedin.svg"
                        />
                    </a>
                    <a class="button" href="https://twitter.com/sotearul" target="_blank">
                        <img
                                alt="Twitter"
                                class="pointer"
                                src="./assets/svg_icons/Twitter.svg"
                        />
                    </a>
                </div>
            </div>

            <div class="card">
                <img alt="" src="./assets/team/Vector-2.png"/>
                <div class="name">Super_Goji</div>
                <div class="job">Crypto-Native All-Rounder</div>
                <div>
                    <a class="button" href="https://www.linkedin.com/in/jacky-kong/" target="_blank">
                        <img
                                alt="Linkedin"
                                class="pointer"
                                src="./assets/svg_icons/Linkedin.svg"
                        />
                    </a>
                    <a class="button" href="https://twitter.com/super_goji" target="_blank">
                        <img
                                alt="Twitter"
                                class="pointer"
                                src="./assets/svg_icons/Twitter.svg"
                        />
                    </a>
                </div>
            </div>
            <div class="card">
                <img alt="" src="./assets/team/Vector-1.png"/>
                <div class="name">AAA___player</div>
                <div class="job">Digital Growth Hacker</div>
                <div>
                    <a class="button" href="https://twitter.com/aaa___player" target="_blank">
                        <img
                                alt="Twitter"
                                class="pointer"
                                src="./assets/svg_icons/Twitter.svg"
                        />
                    </a>
                </div>
            </div>
            <div class="card">
                <img alt="" src="./assets/team/Vector-4.png"/>
                <div class="name">Lifeguard0x29</div>
                <div class="job">Computer Vision Guru</div>
                <div>
                    <a class="button" href="https://twitter.com/lifeguard0x29" target="_blank">
                        <img
                                alt="Twitter"
                                class="pointer"
                                src="./assets/svg_icons/Twitter.svg"
                        />
                    </a>
                </div>
            </div>
            <div class="card">
                <img alt="" src="./assets/team/Vector-5.png"/>
                <div class="name">VossN13</div>
                <div class="job">Digital Fashion Pioneer</div>
                <div>
                    <a class="button" href="https://twitter.com/vossn13" target="_blank">
                        <img
                                alt="Twitter"
                                class="pointer"
                                src="./assets/svg_icons/Twitter.svg"
                        />
                    </a>
                </div>
            </div>
        </div>

        <img
                class="bg-1 z-index-0"
                src="./assets/bg_components/Brand_Pattern_04.svg"
        />
        <img
                class="bg-2 z-index-0"
                src="./assets/bg_components/Brand_Pattern_01.svg"
        />
        <img
                class="bg-3 z-index-0"
                src="./assets/bg_components/VI_Grandient_01.png"
        />
    </section>

    <section
            class="join relative flex flex-dir-column justify-center center section"
            data-anchor="join"
    >
        <img alt="repit!" class="center" src="./assets/Logo.svg"/>
        <h2 class="gradient-text section-title">Join The Repit! Community</h2>
        <p class="color-white">
            Co-create the next generation of evolvable NFTs and fitness mateverse
            with us!
            <br/>
            <br/>
            Join our community, complete whitelist tasks, and receive your very
            own one-of-a-kind avatar.
        </p>
        <h3>Follow us</h3>
        <div class="links flex flex-center">
            <a class="button" href="https://Twitter.com/repit_official" target="_blank">
                <img alt="Twitter" src="./assets/svg_icons/Twitter.svg"/>
            </a>
            <a class="button" href="https://discord.gg/repit" target="_blank">
                <img alt="Discord" src="./assets/svg_icons/Discord.svg"/>
            </a>
            <a class="button" href="https://medium.com/@repit" target="_blank">
                <img alt="Medium" src="./assets/svg_icons/Medium.svg"/>
            </a>
        </div>

        <div class="contract">
            <form action="https://app.us8.list-manage.com/subscribe/post?u=33ba9f8e144eae0912eb911c5&amp;id=ea49e55c57&amp;f_id=00df6ae0f0"
                  class="validate waitlist-form flex" id="mc-embedded-subscribe-form" method="post"
                  name="mc-embedded-subscribe-form"
                  target="_blank">
                <input class="required email" id="mce-EMAIL" name="EMAIL" placeholder="Email" required type="email">
                <input class="button submit" id="mc-embedded-subscribe" name="subscribe" type="submit"
                       value="JOIN WAITLIST">
            </form>
        </div>

        <p class="copy-right">
            © 2022 DN2 LIFE TECHNOLOGY PTE. LTD. – ALL RIGHTS RESERVED
        </p>

        <img
                class="bg-1 z-index-0"
                src="./assets/bg_components/VI_Grandient_01.png"
        />
        <img
                class="bg-2 z-index-0"
                src="./assets/bg_components/VI_Grandient_02.png"
        />
        <img
                class="bg-3 z-index-0"
                src="./assets/bg_components/Brand_Pattern_04.svg"
        />
    </section>
</main>
</body>
</html>
