<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1,target-densitydpi=device-dpi "
		/>
		<link rel="stylesheet" href="./index-2.4.css" />
		<link rel="stylesheet" type="text/css" href="./lib/fullpage.css" />
		<script type="text/javascript" src="./lib/fullpage.js"></script>
		<script type="text/javascript" src="./lib/vue_3.2.36.js"></script>
		<script type="text/javascript" src="./lib/jquery_2.1.4.js"></script>
		<script type="text/javascript" src="./lib/lottie.js"></script>
		<script type="text/javascript" src="./common-2.4.js"></script>
		<title>Repit!</title>
	</head>
	<body id="app">
		<nav class="nav">
			<ul class="flex">
				<li
					v-for="anchor in anchors"
					:key="anchor"
					@click="onClickAnchor(anchor)"
				>
					<a :href="'#' + anchor" :class="{bold: hash === anchor}"
						>{{anchor}}</a
					>
				</li>
			</ul>
			<img src="./assets/Logo.svg" alt="repit!" draggable="false" />
		</nav>

		<div id="loading">
			<div class="lottie"></div>
		</div>

		<main id="fullpage">
			<section class="home relative section" data-anchor="home">
				<div class="vh100 overflow-hidden relative">
					<div class="head">
						<img src="./assets/Logo.svg" alt="repit!" draggable="false" />
						<p class="gradient-text">
							The World's First <br />
							Evolvable-NFT Workout Game
						</p>
						<img src="./assets/bg_components/Circles.svg" draggable="false" />
					</div>

					<div class="swapper" draggable="false">
						<div class="column">
							<div class="animation-box">
								<div class="flex flex-dir-column" v-for="_ in 2" :key="_">
									<img src="./assets/swapper_images/Hero_001.png" />
									<img src="./assets/swapper_images/Vector.png" />
									<img src="./assets/swapper_images/Hero_006.png" />
									<img src="./assets/swapper_images/Hero_008.png" />
									<img src="./assets/swapper_images/Hero_002-1.png" />
									<img src="./assets/swapper_images/Hero_009.png" />
									<img src="./assets/swapper_images/Hero_007-1.png" />
								</div>
							</div>
						</div>
						<div class="column">
							<div class="animation-box">
								<div class="flex flex-dir-column" v-for="_ in 2" :key="_">
									<img src="./assets/swapper_images/Hero_005.png" />
									<img src="./assets/swapper_images/Card-1.png" />
									<img src="./assets/swapper_images/Hero_003.png" />
									<img src="./assets/swapper_images/Vector-2.png" />
									<img src="./assets/swapper_images/Vector-1.png" />
								</div>
							</div>
						</div>
						<div class="column">
							<div class="animation-box">
								<div class="flex flex-dir-column" v-for="_ in 2" :key="_">
									<img src="./assets/swapper_images/Vector-2.png" />
									<img src="./assets/swapper_images/Hero_007.png" />
									<img src="./assets/swapper_images/Card-2.png" />
									<img src="./assets/swapper_images/Card-1.png" />
									<img src="./assets/swapper_images/Hero_002.png" />
									<img src="./assets/swapper_images/Hero_002-1.png" />
								</div>
							</div>
						</div>
						<div class="column">
							<div class="animation-box">
								<div class="flex flex-dir-column" v-for="_ in 2" :key="_">
									<img src="./assets/swapper_images/Hero_004.png" />
									<img src="./assets/swapper_images/Card-3.png" />
									<img src="./assets/swapper_images/Hero_009.png" />
									<img src="./assets/swapper_images/Hero_003-1.png" />
									<img src="./assets/swapper_images/Hero_006.png" />
								</div>
							</div>
						</div>
					</div>

					<img src="./assets/bg_components/VI_Grandient_02.png" class="bg" />
				</div>
			</section>

			<section class="fitness section" data-anchor="fitness">
				<div class="vh100 relative overflow-hidden center flex flex-center">
					<div class="head flex-center flex-dir-column">
						<h2 class="gradient-text section-title">
							Get Fit And Get Rewarded
						</h2>

						<p class="color-white sub-title">
							The most fun, interactive and rewarding way to work out
						</p>
					</div>
					<video
						muted
						poster="./assets/video-poster.png"
						src="./assets/HeroVideo_FinalRender.mp4"
						autoplay
						loop="loop"
						data-keepplaying
						on
					></video>
				</div>
			</section>

			<section class="avatar relative section" data-anchor="avatar">
				<div class="normal-scroll">
					<h2
						class="gradient-text section-title"
						:style="`transform: translateY(${avatarSectionScrollTop}px)`"
					>
						Your Evolvable NFT Avatar
					</h2>

					<div
						class="transform-wrapper relative"
						:style="`transform: translateY(${avatarSectionScrollTop}px)`"
					>
						<div class="section-1 absolute enter">
							<div class="imgs">
								<img src="./assets/avatars/img_for_web_1.png" />
								<img src="./assets/avatars/img_for_web_4.png" />
								<img src="./assets/avatars/img_for_web_3.png" />
								<img src="./assets/avatars/img_for_web_2.png" />
								<img src="./assets/avatars/img_for_web_5.png" />
							</div>

							<div class="tip">
								<p>Own a unique avatar</p>
								<p>
									Every avatar is a one-of-a-kind, breedable and evolvable NFT
								</p>
							</div>
						</div>

						<div class="section-2 absolute leave">
							<div class="imgs">
								<img src="./assets/avatars/img_for_web_3.png" />

								<img src="./assets/bg_components/Grid.svg" class="bg grid" />
							</div>

							<div class="tip">
								<p>Bodybuild your avatar into ideal physique</p>
								<p>
									Every bit of your physical workout will contribute to shaping
									your avatar
								</p>
							</div>
						</div>

						<div class="section-3 absolute leave">
							<div class="imgs">
								<div>
									<img src="./assets/avatars/img_for_web_3_1.png" />
									<div class="name">SKINNY</div>
								</div>
								<div>
									<img src="./assets/avatars/img_for_web_3_2.png" />
									<div class="name">CHUBBY</div>
								</div>
								<div>
									<img src="./assets/avatars/img_for_web_3.png" />
									<div class="name">AVERAGE</div>
								</div>

								<div>
									<img src="./assets/avatars/img_for_web_3_3.png" />
									<div class="name">RIPPED</div>
								</div>

								<div>
									<img src="./assets/avatars/img_for_web_3_4.png" />
									<div class="name">BULKY</div>
								</div>

								<img src="./assets/bg_components/Grid.svg" class="bg grid" />
							</div>

							<div class="tip">
								<p>Bodybuild your avatar into ideal physique</p>
								<p>
									Every bit of your physical workout will contribute to shaping
									your avatar
								</p>
							</div>
						</div>

						<div class="section-4 absolute leave">
							<div class="imgs">
								<img src="./assets/avatars/img_for_web_5.png" />
							</div>

							<div class="tip">
								<p>Dress up avatar in your own style</p>
								<p>
									Limited-edition digital fashion apparel and accessory NFTs
								</p>
							</div>
						</div>

						<div class="section-5 absolute leave">
							<div class="imgs">
								<img src="./assets/avatars/资源 1.png" />
								<img src="./assets/avatars/资源 2.png" />
								<img src="./assets/avatars/资源 3.png" />
								<img src="./assets/avatars/资源 4.png" />
								<img src="./assets/avatars/资源 5.png" />
							</div>

							<div class="tip">
								<p>Dress up avatar in your own style</p>
								<p>
									Limited-edition digital fashion apparel and accessory NFTs
								</p>
							</div>
						</div>

						<div class="section-6 absolute leave">
							<div class="imgs">
								<div>
									<img src="./assets/heros_with_bg/item_001.png" />
									<img src="./assets/heros_with_bg/item_002.png" />
									<img src="./assets/heros_with_bg/item_003.png" />
									<img src="./assets/heros_with_bg/item_004.png" />
									<img src="./assets/heros_with_bg/item_005.png" />
									<img src="./assets/heros_with_bg/item_006.png" />
									<img src="./assets/heros_with_bg/item_007.png" />
								</div>
								<div>
									<img src="./assets/heros_with_bg/item_008.png" />
									<img src="./assets/heros_with_bg/item_009.png" />
									<img src="./assets/heros_with_bg/item_010.png" />
									<img src="./assets/heros_with_bg/item_011.png" />
									<img src="./assets/heros_with_bg/item_012.png" />
									<img src="./assets/heros_with_bg/item_013.png" />
									<img src="./assets/heros_with_bg/item_014.png" />
								</div>
							</div>

							<div class="center tip">
								<p>Your avatar, your way</p>
								<p>Breed an avatar with style and attitude</p>
							</div>
						</div>
					</div>

					<div
						class="bgs"
						:style="`transform: translateY(${avatarSectionScrollTop}px)`"
					>
						<img
							src="./assets/bg_components/Brand_Pattern_02.svg"
							class="bg-1"
						/>
						<img
							src="./assets/bg_components/Brand_Pattern_01.svg"
							class="bg-2"
						/>
						<img
							src="./assets/bg_components/VI_Grandient_01.png"
							class="bg-3"
						/>
						<img
							src="./assets/bg_components/Brand_Pattern_01.svg"
							class="bg-4"
						/>
						<!-- <img src="./assets/bg_components/VI_Grandient_02.png" class="bg-5" />
					<img src="./assets/bg_components/VI_Grandient_03.png" class="bg-6" />
					<img src="./assets/bg_components/Brand_Pattern_04.svg" class="bg-7" />
					<img src="./assets/bg_components/Brand_Pattern_03.svg" class="bg-8" />
					<img src="./assets/bg_components/VI_Grandient_04.png" class="bg-9" /> -->
					</div>
				</div>
			</section>

			<section class="roadmap section" data-anchor="roadmap">
				<h2 class="gradient-text section-title">roadmap</h2>

				<div class="road">
					<div class="stage">
						<h2>Q2 2022</h2>
						<h3>Founding</h3>
						<ul>
							<li>Founding team assembly</li>
							<li>Brand establishment</li>
							<li>Movement AI algorithm development</li>
							<li>Angel Round fundraising</li>
						</ul>
					</div>
					<div class="stage">
						<h2>Q3 2022</h2>
						<h3>Alpha</h3>
						<ul>
							<li>Website launch</li>
							<li>Product demo ready</li>
							<li>Community establishment</li>
							<li>Seed Round fundraising</li>
						</ul>
					</div>
					<div class="stage">
						<h2>Q4 2022</h2>
						<h3>Closed Beta</h3>
						<ul>
							<li>Whitelist tasks</li>
							<li>Genesis avatar airdrops</li>
							<li>First apparel collection airdrops</li>
							<li>AI Workout gameplay opens to genesis avatar holders</li>
						</ul>
					</div>
					<div class="stage">
						<h2>Q1 2023</h2>
						<h3>Open Beta</h3>
						<ul>
							<li>Avatar clone feature release</li>
							<li>Token generation event</li>
							<li>Hunger Game gameplay release</li>
						</ul>
					</div>
					<div class="stage">
						<h2>Q2 2023</h2>
						<h3>Official Launch</h3>
						<ul>
							<li>Live Challenge gameplay release</li>
						</ul>
					</div>
				</div>

				<img src="./assets/bg_components/Brand_Pattern_05.svg" class="bg-1" />
				<img src="./assets/bg_components/Brand_Pattern_03.svg" class="bg-2" />
				<img src="./assets/bg_components/VI_Grandient_04.png" class="bg-3" />
			</section>

			<section class="team section" data-anchor="team">
				<h2 class="gradient-text section-title">team</h2>
				<div class="flex flex-wrap members">
					<div class="card">
						<img src="./assets/team/Vector.png" alt="" />
						<div class="name">Dr_Daoist</div>
						<div class="job">Serial Entrepreneur</div>
						<div>
							<a href="https://www.linkedin.com/in/mikehanlin/" class="button">
								<img
									class="pointer"
									src="./assets/svg_icons/Linkedin.svg"
									alt="Linkedin"
								/>
							</a>
							<a href="https://twitter.com/dr_daoist" class="button">
								<img
									class="pointer"
									src="./assets/svg_icons/Twitter.svg"
									alt="Twitter"
								/>
							</a>
						</div>
					</div>
					<div class="card">
						<img src="./assets/team/Vector-3.png" alt="" />
						<div class="name">soTEARul</div>
						<div class="job">Game Economy Wizard</div>
						<div>
							<a
								href="https://www.linkedin.com/in/%E9%98%B3yang-%E9%AB%98gao-26803320b/"
								class="button"
							>
								<img
									class="pointer"
									src="./assets/svg_icons/Linkedin.svg"
									alt="Linkedin"
								/>
							</a>
							<a href="https://twitter.com/sotearul" class="button">
								<img
									class="pointer"
									src="./assets/svg_icons/Twitter.svg"
									alt="Twitter"
								/>
							</a>
						</div>
					</div>
					<div class="card">
						<img src="./assets/team/Vector-5.png" alt="" />
						<div class="name">VossN°13</div>
						<div class="job">Digital Fashion Pioneer</div>
						<div>
							<a href="" class="button">
								<img
									class="pointer"
									src="./assets/svg_icons/Twitter.svg"
									alt="Twitter"
								/>
							</a>
						</div>
					</div>
					<div class="card">
						<img src="./assets/team/Vector-2.png" alt="" />
						<div class="name">SuperGoji_01</div>
						<div class="job">Crypto-Native All-Rounder</div>
						<div>
							<a href="https://www.linkedin.com/in/jacky-kong/" class="button">
								<img
									class="pointer"
									src="./assets/svg_icons/Linkedin.svg"
									alt="Linkedin"
								/>
							</a>
							<a href="https://twitter.com/supergoji_01" class="button">
								<img
									class="pointer"
									src="./assets/svg_icons/Twitter.svg"
									alt="Twitter"
								/>
							</a>
						</div>
					</div>
					<div class="card">
						<img src="./assets/team/Vector-1.png" alt="" />
						<div class="name">AAA___player</div>
						<div class="job">Digital Growth Hacker</div>
						<div>
							<a href="https://twitter.com/aaa___player" class="button">
								<img
									class="pointer"
									src="./assets/svg_icons/Twitter.svg"
									alt="Twitter"
								/>
							</a>
						</div>
					</div>
					<div class="card">
						<img src="./assets/team/Vector-4.png" alt="" />
						<div class="name">Lifeguard0x29</div>
						<div class="job">Computer Vision Guru</div>
						<div>
							<a href="https://twitter.com/lifeguard0x29" class="button">
								<img
									class="pointer"
									src="./assets/svg_icons/Twitter.svg"
									alt="Twitter"
								/>
							</a>
						</div>
					</div>
				</div>

				<img
					src="./assets/bg_components/Brand_Pattern_04.svg"
					class="bg-1 z-index-0"
				/>
				<img
					src="./assets/bg_components/Brand_Pattern_01.svg"
					class="bg-2 z-index-0"
				/>
				<img
					src="./assets/bg_components/VI_Grandient_01.png"
					class="bg-3 z-index-0"
				/>
			</section>

			<section
				class="join relative flex flex-dir-column justify-center center section"
				data-anchor="join"
			>
				<img src="./assets/Logo.svg" alt="repit!" class="center" />
				<h2 class="gradient-text section-title">Join The Repit! Community</h2>
				<p class="color-white">
					Co-create the next generation of evolvable NFTs and fitness mateverse
					with us!
					<br />
					<br />
					Join our community, complete whitelist tasks, and receive your very
					own one-of-a-kind avatar.
				</p>
				<h3>Follow us</h3>
				<div class="links flex flex-center">
					<a href="" class="button">
						<img src="./assets/svg_icons/Twitter.svg" alt="Twitter" />
					</a>
					<a href="" class="button">
						<img src="./assets/svg_icons/Discord.svg" alt="Discord" />
					</a>
					<a href="" class="button">
						<img src="./assets/svg_icons/Telegram.svg" alt="Telegram" />
					</a>
				</div>

				<p class="copy-right">
					© 2022 DN2 LIFE TECHNOLOGY PTE. LTD. – ALL RIGHTS RESERVED
				</p>

				<img
					src="./assets/bg_components/VI_Grandient_01.png"
					class="bg-1 z-index-0"
				/>
				<img
					src="./assets/bg_components/VI_Grandient_02.png"
					class="bg-2 z-index-0"
				/>
				<img
					src="./assets/bg_components/Brand_Pattern_04.svg"
					class="bg-3 z-index-0"
				/>
			</section>
		</main>
	</body>
</html>
